@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: #78ee9f;
}

.wrapper {
  max-width: 90vw;
  background: #fff;
  display: flex;
  align-items: flex-end;
  gap: 70px;
  padding: 60px 40px;
  border-radius: 20px;
}

.name-game {
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.letter {
  width: 25px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  margin-bottom: 40px;
}

.active {
  border-color: transparent;
  margin: -40px 0 35px;
}

h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.question {
  font-weight: 600;
}

span {
  color: red;
}

.keyboard {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 160px;
}

.keyboard button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px;
  background: #24bb56;
  text-transform: uppercase;
  width: calc(100% / 13 - 7px);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.keyboard button[disabled] {
  opacity: 0.8;
  pointer-events: none;
}

.keyboard button:hover {
  background: #78ee9f;
}