@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


body {
  background-color: #E1D4C9;
  color: #403F3D;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.logo {
  line-height: 0;
  cursor: default;
}

a.logo_menu {
  line-height: 0;
}

nav ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
span,
div,
img,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

.wrapper__header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  height: 60px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 67.5%;
}


.menu__list {
  display: flex;
  gap: 4rem;
  color: #403F3D;
}

.menu__list-item {
  position: relative;
}

.menu__list-item-noactive {
  position: relative;
  cursor: default;
}

.menu__list-item::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  top: 2.5rem;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}


.menu__list-item-noactive::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  top: 2.5rem;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(1);
}

.header__menu {
  position: relative;
  padding-right: 2.8rem;
}

.header__menu::after {
  content: '';
  position: absolute;
  background-image: url(../assets/icon/coffee-cup.svg);
  width: 2rem;
  height: 2rem;
  top: 0;
  margin-left: 0.8rem;
}

.logo__header {
  height: 6rem;
}

.wrapper__enjoy {
  background: lightgray 50% / cover no-repeat url(../assets/img/enjoy.jpg);
  border-radius: 4rem;
  margin-top: 2rem;
}

.enjoy__content {
  padding: 10rem 0 10rem 10rem;
  width: 63rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.enjoy__title {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 7.56rem;
  margin: 0;
}

.color__accent {
  color: #B0907A;
  font-style: italic;
}

.enjoy__text {
  color: #E1D4C9;
  font-weight: 400;
}

.button__menu {
  border-radius: 100px;
  background: #E1D4C9;
  width: 20rem;
  padding: 2rem 0;
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.button__menu-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
  transition: opacity 0.3s ease;
  display: none;
}


.wrapper__favorite {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.favorite__title {
  text-align: center;
}

.favorite__title,
.about__title,
.mobile__title,
.footer__title,
.menu__title {
  color: #403F3D;
  font-family: Inter;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.5rem;
}

.favorite__slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.favorite__slider-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__card {
  text-align: center;
}

.slider__card-content {
  padding-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card-content__title,
.card-content__price {
  font-size: 2.4rem;
  line-height: 3rem;
}

.card-content__description {
  font-weight: 400;
}

.slide__icon-next {
  transform: rotate(180deg);
}

.favorite__slider-pagination {
  font-size: 0;
  line-height: 0;
}

.element__pagination {
  margin-left: 1.2rem;
  font-size: 0;
}

.element__pagination:first-child {
  margin-left: 0;
}


.active svg rect {
  fill: #665F55;
}

.wrapper__about {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__galery-item1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 4rem;
}

.about__galery-item2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  gap: 4rem;
  margin-top: -12rem;
}

.about__image {
  width: 66rem;
  border-radius: 2rem;
  overflow: hidden;
}

.big__image {
  height: 59rem;
}

.small__image {
  height: 43rem;
}

.about_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  scale: 1.1;
}



.wrapper__mobile {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.mobile__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.mobile__description {
  font-weight: 400;
}

.mobile__buttons {
  display: flex;
  gap: 2rem;
}

.mobile__button {
  border-radius: 10rem;
  border: 1px solid #665F55;
  background: transparent;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 1.2rem 2rem;
}



.mobile__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
  width: 11.6rem;
}

.app_text {
  color: #403F3D;
  font-size: 1rem;
  line-height: 1.4rem;
}

.app_title {
  color: #403F3D;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

div.mobile__image {
  height: 63rem;
}

.wrapper__footer {
  margin-top: 10rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  background-color: #665F55;
  border-radius: 4rem;
}

.footer__main {
  margin: 10rem;
  display: flex;
  gap: 10rem;
}

.footer__content {
  width: 53rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__social {
  display: flex;
  gap: 1.2rem;
}

.social_circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.1rem solid #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 3rem;
}

.footer__title {
  color: #E1D4C9;
}

.contact__title {
  color: #E1D4C9;
  font-size: 2.4rem;
  line-height: 3rem;
}

.contact__links,
.contact__links-effect {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.contact__links-effect {
  width: 18.2rem;
}

.contact__place,
.contact__tel,
.time {
  display: flex;
  position: relative;
  gap: 0.8rem;
}

.contact__place::before,
.contact__tel::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  top: 2.5rem;
  left: 0;
  background-color: #E1D4C9;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}



.contact__text {
  color: #E1D4C9;
}

.header__hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 10rem;
  border: 1px solid #665F55;
  gap: 0.8rem;
}

.hamburger-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 0;
  border: 0.15rem solid #403F3D;
}

/*---------------menu---------------------------------------------------------*/

.wrapper__menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.menu__title {
  width: 80rem;
  /*padding: 0 28rem;*/
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.menu__buttons {
  display: flex;
  gap: 1.6rem;
}

.menu__button {
  border-radius: 10rem;
  border: 1px solid #C1B6AD;
  background-color: #E1D4C9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  transition: 0.5s ease-in-out;
}


.button_colored {
  border: none;
  background: #665F55;
  color: #E1D4C9;
}

.button_colored .menu__icon {
  background: #E1D4C9;
}


.menu__icon {
  width: 3rem;
  height: 3rem;
  padding: 0 0.7rem;
  border-radius: 10rem;
  border: 1px solid #C1B6AD;
  border-radius: 10rem;
  background: #C1B6AD;
}


.cards__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.card_menu {
  display: flex;
  flex-direction: column;
  width: 31rem;
  border: 1px solid #C1B6AD;
  border-radius: 4rem;
}



.card_menu-image {
  width: 31rem;
  height: 31rem;
  flex-shrink: 0;
  border-radius: 4rem;
  overflow: hidden;
}

.menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  scale: 1.1;
}

.card_menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  min-height: 19.6rem;
}

.card_menu-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card_menu-title,
.card_menu-price {
  color: #403F3D;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
}

.card_menu-description {
  font-weight: 400;
}

.menu__load {
  width: 6rem;
  height: 6rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  border: 0.1rem solid #665F55;
}

/*-----------------------media query---------------------------*/
@media (max-width: 1440px) {
  .wrapper {
    margin-left: 4rem;
    margin-right: 4rem;
  } 
}

@media (max-width: 1230px) {
  .wrapper__mobile {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__main {
    flex-wrap: wrap;
  }

  .about__galery-item1 {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .about__galery-item2 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  .menu {
    width: auto;
  }

  .menu__list {
    margin-right: 4rem;
  }

  /*-------------page menu------------------*/

  .menu__title {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header__hamburger {
    display: flex;
  }

  .enjoy__content {
    padding: 10rem 0 10rem 6rem;
  }

  .enjoy__text {
    width: 53rem;
  }

  .button__menu-icon {
    display: inline-block;
  }

  .about__galery-item1 {
    justify-content: flex-start;
    gap: 0;
  }

  .small__image {
    display: none;
  }

  .big__image {
    width: 100%;
  }

  .about__galery-item2 {
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 0;
  }

  .footer__main {
    margin-left: 6rem;
  }

  .footer__contact {
    padding-top: 0;
  }

  /*-------------------menu page-------------*/

  .menu__load {
    display: flex;
  }

  .card_menu:nth-of-type(n+5) {
    display: none;
  }

  .wrapper__menu {
    gap: 3.8rem;
  }

  /*-----------------hamburger menu--------------------*/

  .logo_menu {
    z-index: 3;
  }

  .header__hamburger {
    z-index: 3;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16rem;
    padding-bottom: 36.4rem;
    gap: 10rem;
    position: absolute;
    background-color: #E1D4C9;
    margin: 0;
    right: 0;
    top: 0;    
    width: 100%;
    visibility: hidden;
    z-index: 2;
    transition: all .3s linear;
    color: var(--text-dark, #403F3D);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
  }

  .menu-activ {
    visibility: visible;
  }

  .hamburger-activ .hamburger-line:first-child {
    position: absolute;
    transform: rotate(45deg);
    transform-origin: center;
    transition: all .3s linear;
  }

  .hamburger-activ .hamburger-line:last-child {
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: all .3s linear;
  }


  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    gap: 6rem;
  }

  .header__menu {
    display: block;
    position: relative;
    padding-right: 6rem;
  }

  .header__menu::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    margin-left: 1.6rem;
  }

  .menu__list-item-noactive {
    pointer-events: none;
  }

  .menu__list-item-noactive::before {
    top: 4rem;
  }

}

@media (max-width: 680px) {
  .slide__icon {
    display: none;
  }

  .favorite__slider-main {
    justify-content: center;
  }

  .wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .enjoy__title {
    font-size: 6.2rem;
    line-height: 5.83rem;
  }

  .enjoy__content {
    width: auto;
    padding: 6rem 1.6rem;
  }

  .footer__main {
    width: auto;
    margin: 6rem 1.6rem;
  }

  .footer__content {
    width: auto;
  }

  .mobile__image {
    width: auto;
    height: auto;
  }

  .mobile {
    width: 100%;
  }

  .favorite__title, .about__title, .mobile__title, .footer__title, .menu__title {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .enjoy__text {
    width: auto;
  }

}

@media (max-width: 520px) {
  .wrapper {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .wrapper__mobile {
    gap: 4rem;
  }

  .enjoy__title {
    font-size: 4.2rem;
    line-height: 4.83rem;
  }

  .slider__card,
  .mobile__content {
    width: 100%;
  }

  .slider__img {
    width: 100%;
  }

  br {
    display: none;
  }

  .mobile__buttons {
    flex-direction: column;
    width: 20rem;
  }

  .slider__card-content {
    padding-top: 1.4rem;
  }

  .about_image {
    scale: 1.25;
  }

  div.mobile__image {
    height: 34.8rem;
  }

  .footer__main {
    gap: 4rem;
  }

  .contact__links {
    gap: 2rem;
  }
}

@media (max-width: 380px) {
  .menu__title {
    padding: 0 1.6rem;
  }

  .menu__buttons {
    gap: 0.8rem;
  }

  .cards__menu {
    gap: 3.8rem;
  }
}

/*----------------hover--------------*/

@media (hover:hover) and (pointer:fine) {
  .menu__list-item:hover::before {
    transform: scaleX(1);
  }

  .button__menu:hover > .button__menu-icon {
    display: inline-block;
    transition: 0.5s ease-in-out;
  }  

  .slide__icon:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .slide__icon:hover svg {
    fill: #665F55;
    transition: fill 0.3s ease;
  }
  
  .slide__icon:hover svg path{
    stroke: #E1D4C9;
    transition: stroke 0.3s ease;
  }

  .about__image:hover > .about_image {
    transform: scale(0.9);
  }

  .mobile__button:hover {
    background-color: #665F55;
  }
  
  .mobile__button:hover > .mobile__text > .app_text,
  .mobile__button:hover > .mobile__text > .app_title {
    color: #E1D4C9;
    transition: color 0.3s ease;
  }
  
  .mobile__button:hover svg path{
    fill: #E1D4C9;
    transition: fill 0.3s ease;
  }

  .social_circle:hover {
    background: #C1B6AD;
  }
  
  .social_circle:hover svg path {
    stroke: #403F3D;
  }

  .contact__place:hover::before,
  .contact__tel:hover::before {
    transform: scaleX(1);
  }

  .menu__button:hover {
    background-color: #665F55;
  }
  
  .menu__button:hover {
    color: #E1D4C9;
    cursor: pointer;
  }

  .button_colored:hover {
    cursor: default;
  }
  
  .menu__button:hover .menu__icon {
    background: #E1D4C9;
  }

  .card_menu:hover > .card_menu-image > .menu-img {
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
  }

  .header__hamburger:hover {
    cursor: pointer;
  }
}